/*
Error: Undefined variable: "$background".
        on line 1 of /home/richard/documents/rbwww/src/sass/sass/components/message.sass

1: $message-background-color: $background !default
2: $message-radius: $radius !default
3: 
4: $message-header-background-color: $text !default
5: $message-header-color: $text-invert !default
6: $message-header-padding: 0.5em 0.75em !default

Backtrace:
/home/richard/documents/rbwww/src/sass/sass/components/message.sass:1
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:471:in `visit_variable'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/home/richard/.gem/ruby/2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/home/richard/.gem/ruby/2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/richard/.gem/ruby/2.4.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/gems/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/home/richard/.gem/ruby/2.4.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/home/richard/.gem/ruby/2.4.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/home/richard/.gem/ruby/2.4.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/richard/.gem/ruby/2.4.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/richard/.gem/ruby/2.4.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/richard/.gem/ruby/2.4.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/richard/.gem/ruby/2.4.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/home/richard/.gem/ruby/2.4.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/home/richard/.gem/ruby/2.4.0/bin/compass:23:in `load'
/home/richard/.gem/ruby/2.4.0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$background\".\A         on line 1 of /home/richard/documents/rbwww/src/sass/sass/components/message.sass\A \A 1: $message-background-color: $background !default\A 2: $message-radius: $radius !default\A 3: \A 4: $message-header-background-color: $text !default\A 5: $message-header-color: $text-invert !default\A 6: $message-header-padding: 0.5em 0.75em !default"; }
