/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$primary: hsl(171, 60%, 48%);
$primary_hovered: darken($primary, 10%);
$link: $primary;

@import "bulma.sass";

a:hover {
    color: $primary_hovered;
}

nav {
    a.navbar-item {
        &:visited, &:link {
            color: $primary;
        }

        &:hover {
            color: $primary_hovered;
            transform: translateY(-1px);
            boder-radius: 25px;
            box-shadow: 0 6px 14px $primary, 0 -6px 10px $primary_hovered;
        }


        &:active {
            color: $primary_hovered;
        }
    }
}


.article-container {
    padding: .5em 4em 0.5em 4em;
    .paper {
        padding: .3em;

        .descr { }
        .article-title {
            &::before {
                font-family: FontAwesome;
                padding-right: 3px;
                
            }
            font-weight: $weight-bold;
        }

        .article-author {
            font-style: italic;
        }

        .download {
            text-transform:uppercase;
            font-size: 15px;
            font-weight: $weight-bold;
            a {
                padding-left: 15px;
            }
        }
    }
}
p
footer.footer {
    padding:10px;
}

nav.navbar {
    .container {
    }
}

div.summary {
    padding:15px 15px 5px 15px;
}

div.years {
    padding-left: 4em;
    padding-right: 4em;
    a {
        font-weight: $weight-bold;
        margin-top: 2px;
    }
}


img.picture {
    border-radius: 8px;
}


.org-table {
    table {
        width: 20%;
        tbody {
            tr {
                border: none;
            }
            td {
                border: none;
            }
        }
    }
}

img#portrait {
    width: 50%;
    border-radius: 120px;
}


ul.fa-ul {
    list-style-type:none;
}
