/*
Error: Undefined mixin 'tablet'.
        on line 26 of /home/richard/documents/rbonichon.github.io/src/sass/sass/grid/tiles.sass, in `tablet'
        from line 26 of /home/richard/documents/rbonichon.github.io/src/sass/sass/grid/tiles.sass

21:   &.is-vertical
22:     flex-direction: column
23:     & > .tile.is-child:not(:last-child)
24:       margin-bottom: 1.5rem !important
25:   // Responsiveness
26:   +tablet
27:     &:not(.is-child)
28:       display: flex
29:     @for $i from 1 through 12
30:       &.is-#{$i}
31:         flex: none

Backtrace:
/home/richard/documents/rbonichon.github.io/src/sass/sass/grid/tiles.sass:26:in `tablet'
/home/richard/documents/rbonichon.github.io/src/sass/sass/grid/tiles.sass:26
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:98:in `block in with_mixin'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:98:in `with_mixin'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/home/richard/.gem/ruby/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/home/richard/.gem/ruby/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/home/richard/.gem/ruby/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/richard/.gem/ruby/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/home/richard/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/home/richard/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/home/richard/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/home/richard/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/richard/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/richard/.gem/ruby/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/richard/.gem/ruby/2.6.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/home/richard/.gem/ruby/2.6.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/home/richard/.gem/ruby/2.5.0/bin/compass:23:in `load'
/home/richard/.gem/ruby/2.5.0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'tablet'.\A         on line 26 of /home/richard/documents/rbonichon.github.io/src/sass/sass/grid/tiles.sass, in `tablet'\A         from line 26 of /home/richard/documents/rbonichon.github.io/src/sass/sass/grid/tiles.sass\A \A 21:   &.is-vertical\A 22:     flex-direction: column\A 23:     & > .tile.is-child:not(:last-child)\A 24:       margin-bottom: 1.5rem !important\A 25:   // Responsiveness\A 26:   +tablet\A 27:     &:not(.is-child)\A 28:       display: flex\A 29:     @for $i from 1 through 12\A 30:       &.is-#{$i}\A 31:         flex: none"; }
