<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top" >
  {{ partial "chrome/head.html" . }}

  <body>
    {{ partial "chrome/menu.html" }}
    {{ $baseurl := .Site.BaseURL }}

    <section class="section posts">
      <div class="container">
        <div class="tile is-ancestor">
        {{ range where .Site.RegularPages "Section" "posts" }}
        <div class="tile">
        <article class="media">
          <header class="post-header">
            <h2 class="subtitle is-5"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <div class="post-time">
              {{ .Date.Format "2006-02-01" }},
              {{ .FuzzyWordCount }} words
            </div>
            <div class="summary">
              {{ .Summary }}
              {{ if .Truncated }}
              <!-- This <div> includes a read more link, but only if the summary is truncated... -->
              <div>
                <a href="{{ .RelPermalink }}">Read More…</a>
              </div>
              {{ end }}
            </div>
          </header>
        </article>
        </div>
        {{ end }}
        </div>
      </div>
    </section>

    {{ partial "chrome/footer.html" }}
  </body>
</html>
