<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation" >
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/{{ .Site.BaseURL }}">
      <img src="/img/rb.jpg" alt="RB"  height="28">
      </a>
      <button class="button navbar-burger" data-target="navMenu" >
      <span></span>
      <span></span>
      <span></span>
      </button>
    </div>
    <div class="navbar-menu" id="navMenu" >
      <div class="navbar-start ">
        <a class="navbar-item " href="/{{ .Site.BaseURL }}">
          <i class="fa fa-2x fa-home" aria-hidden="true" title="Home">
          </i>
        </a>
        <a class="navbar-item " href="/non-posts/about/">
          <i class="fa fa-2x fa-user" aria-hidden="true" title="About">
          </i>
        </a>
        <a class="navbar-item " href="/non-posts/biblio/">
          <i class="fa fa-2x fa-book" aria-hidden="true" title="Publications">
          </i>
        </a>

        <a class="navbar-item" href="/non-posts/teaching/">
          <i class="fa fa-2x fa-graduation-cap" aria-hidden="true" title="Teaching">
          </i>

        <a class="navbar-item " href="https://github.com/rbonichon">
          <i class="fa fa-2x fa-github" aria-hidden="true" title="GitHub">
          </i>
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item " href="/non-posts/archives/">
          <i class="fa fa-2x fa-archive" aria-hidden="true" title="Archive">
          </i>
        </a>

      </div>
    </div>

  </div>

</nav>
