
<li>
 <span class="fa-li">
  {{ if eq .doc.type "pdf" }}
  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
  {{ else if eq .doc.type "archive" }}
  <i class="fa fa-file-archive-o" aria-hidden="true"></i>
  {{ else if eq .doc.type "book" }}
  <i class="fa fa-book" aria-hidden="true"></i>
  {{ else if .doc.link }}
  <i class="fa fa-external-link" aria-hidden="true"></i>
  {{ else }}
  <i class="fa fa-file-o" aria-hidden="true"></i>
  {{ end }}
  </span>
  
  {{ if .doc.file }}
    <a href="{{ .dir }}/{{ .doc.file }}">
  {{ else }}
    <a href="{{ .doc.link }}">
  {{ end }}

  {{ .doc.title }}
    </a>

    {{ if and .doc.file (eq .doc.type "archive") }}
    {{ $filename :=  ( printf "static/%s/%s" .dir .doc.file ) }}
    <div class="sha is-size-7 has-text-grey">
      sha256 {{ readFile $filename | sha256 }}
     </div>
    {{ end }}

</li>

