/*
Error: Undefined mixin 'desktop'.
        on line 8 of /home/richard/devel/www/rbonichon.github.io/docs/src/sass/sass/layout/section.sass, in `desktop'
        from line 8 of /home/richard/devel/www/rbonichon.github.io/docs/src/sass/sass/layout/section.sass

3: $section-padding-large: 18rem 1.5rem !default
4: 
5: .section
6:   padding: $section-padding
7:   // Responsiveness
8:   +desktop
9:     // Sizes
10:     &.is-medium
11:       padding: $section-padding-medium
12:     &.is-large
13:       padding: $section-padding-large

Backtrace:
/home/richard/devel/www/rbonichon.github.io/docs/src/sass/sass/layout/section.sass:8:in `desktop'
/home/richard/devel/www/rbonichon.github.io/docs/src/sass/sass/layout/section.sass:8
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:98:in `block in with_mixin'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:98:in `with_mixin'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/nix/store/d44mw22a7k7c6sn2mhq5gaykplghma3l-ruby2.6.5-compass-import-once-1.0.5/lib/ruby/gems/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/nix/store/d44mw22a7k7c6sn2mhq5gaykplghma3l-ruby2.6.5-compass-import-once-1.0.5/lib/ruby/gems/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/nix/store/d44mw22a7k7c6sn2mhq5gaykplghma3l-ruby2.6.5-compass-import-once-1.0.5/lib/ruby/gems/2.6.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/nix/store/ylinv33q17zfcvlaj6c23cfgnxss3myh-ruby2.6.5-sass-3.4.25/lib/ruby/gems/2.6.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:294:in `watch'
/nix/store/kd4446f8z7r2ai3zyrmyp48f49pzshf3-ruby2.6.5-compass-1.0.3/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/nix/store/kd4446f8z7r2ai3zyrmyp48f49pzshf3-ruby2.6.5-compass-1.0.3/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/nix/store/kd4446f8z7r2ai3zyrmyp48f49pzshf3-ruby2.6.5-compass-1.0.3/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/nix/store/kd4446f8z7r2ai3zyrmyp48f49pzshf3-ruby2.6.5-compass-1.0.3/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/nix/store/kd4446f8z7r2ai3zyrmyp48f49pzshf3-ruby2.6.5-compass-1.0.3/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/nix/store/kd4446f8z7r2ai3zyrmyp48f49pzshf3-ruby2.6.5-compass-1.0.3/lib/ruby/gems/2.6.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/nix/store/ci7gzchd789sww5gqai2qybpgs400gxh-compass-1.0.3/lib/ruby/gems/2.6.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/nix/store/ci7gzchd789sww5gqai2qybpgs400gxh-compass-1.0.3/lib/ruby/gems/2.6.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/nix/var/nix/profiles/default/bin/compass:18:in `load'
/nix/var/nix/profiles/default/bin/compass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'desktop'.\A         on line 8 of /home/richard/devel/www/rbonichon.github.io/docs/src/sass/sass/layout/section.sass, in `desktop'\A         from line 8 of /home/richard/devel/www/rbonichon.github.io/docs/src/sass/sass/layout/section.sass\A \A 3: $section-padding-large: 18rem 1.5rem !default\A 4: \A 5: .section\A 6:   padding: $section-padding\A 7:   // Responsiveness\A 8:   +desktop\A 9:     // Sizes\A 10:     &.is-medium\A 11:       padding: $section-padding-medium\A 12:     &.is-large\A 13:       padding: $section-padding-large"; }
