<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top" >

  {{ partial "chrome/head.html" . }}
  <body>
    {{ partial "chrome/menu.html" }}
    {{ $baseurl := .Site.BaseURL }}
    
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    <section class="section posts">
      <div class="container">
          {{ range first 5 $pages }}
          <div class="column">
            <article class="post column">
              <header class="post-header has-text-centered">
                <h1 class="is-size-3">
                  <a class="has-text-primary" href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h1>
                <div class="post-time">
                  {{ .Date.Format "January 2 2006" }},
                  {{ .FuzzyWordCount }} words
                </div>

              </header>
            </article>
          </div>
      {{ end }}
      </div>
    </section>

    {{ partial "chrome/footer.html" }}
  </body>
</html>
