<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top" >
  {{ template "chrome/head.html" }}
  <body>
    {{ template "chrome/menu.html" }}
    {{ $baseurl := .Site.BaseURL }}
    {{ $.Scratch.Set "year" 2000 }}

    <section class="section">
      <div class="container">
        <h1 class="title">Publications</h1>
        
        <div class="years">
          {{ range $article := (sort .Site.Data.biblio.references "year" "desc") }}
             {{ $year := $.Scratch.Get "year" }}
               {{ if ne $article.year $year }}
              {{ $.Scratch.Set "year" $article.year }}
          <a class="button is-link is-rounded" href="#{{ $article.year }}">{{ $article.year }}</a>
            {{ end }}
               {{ end }}

        {{ range $article := (sort .Site.Data.biblio.references "year" "desc") }}
        {{ $year := $.Scratch.Get "year" }}

        {{ if ne $article.year $year }}
        {{ $.Scratch.Set "year" $article.year }}
          </div>
        <div class="article-container">
          <hr/>
          <h2 id="{{ $article.year }}"class="subtitle is-4 has-text-primary">{{ $article.year }}</h2>
        {{ end }}
        <article class="paper">
          <div class="descr">
          <span class="article-title">{{ $article.title }}.</span>
          <span class="article-author">
            {{ $n_authors := (len $article.author) }}
            {{ range $index,$a := $article.author }}
            
              {{ substr $a.given 0 1}}. {{ $a.family -}}
            
              {{ $is_next_to_last := eq (add $index 2) $n_authors }}
              {{ $is_last := eq (add $index 1) $n_authors }}
              {{ if $is_next_to_last }} & {{ else if (not $is_last) }}, {{- else -}}.{{ end }}
            {{ end }}
          </span>
          <span class="article-venue">{{ $article.venue|}}.</span>

          </div>

          <div class="download">
            {{ if $article.paper }}
            <a href="/papers/{{ $article.paper }}">
              <i class="fa fa-file-pdf-o" aria-hidden="true"> </i> paper
            </a>
            {{ end }}

            {{ if $article.slides }}
            <a href="/slides/{{ $article.slides }}">
              <i class="fa fa-file-pdf-o" aria-hidden="true"> </i> slides
            </a>
            {{ end }}

          </div>          
          
        </article>

        {{ end }}
        </div>
        </div>
      </div>
    </section>

{{ template "chrome/footer.html" }}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  </body>
</html>
