<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    {{ partial "chrome/head.html" }}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script type="text/javascript" src="/js/nav.js"></script>
    <link href="/css/resume-screen.css" media="screen" type="text/css" rel="stylesheet">
    <link href="/css/resume.css" media="print" type="text/css" rel="stylesheet">
  </head>
  <body lang="en">
    {{ partial "chrome/menu.html" }}
    {{ $baseurl := .Site.BaseURL }}
    {{ $r := .Site.Data.resume  }}
    <div class="container" id="resume-container">
      <div class="columns">
        <div class="column is-8">
          <section class="section" id="main" >
            <header id="title">
              <h1 id="name" class="title is-3">Richard Bonichon</h1>
              <h3 class="subtitle is-4">Research Engineer</h3>
            </header>
            {{ $sections := .Site.Data.resume.sections }}

            {{ range $section := $sections }}

            {{ if eq $section.type "students" }}
            <div class="..page-break"></div>
            {{ end }}

            <section class="section main-block" id="{{ $section.type }}">
              <h2 class="subtitle is-4">
                <i class="fa {{ if .icon }}{{ .icon }}{{ else }}fa-suitcase{{ end }}"></i> 
                {{ .title }}      </h2>

              {{ range $entry := (sort $section.entries "period.end" "desc") }}
              <section class="blocks">
                {{ if eq $section.type "students" }}
                {{- partial "resume/student.html" (dict "s" .) }}
                {{ else if eq $section.type "tools" }}
                {{- partial "resume/tool.html" (dict "s" .) }}
                {{ else }}
                {{- partial "resume/date.html" (dict "date" $entry.period) -}}
                <div class="decorator">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="details">
                  <header>
                    <h3>{{ $entry.title }}</h3>
                    <span class="place">
                      {{ if $entry.location.institute.url }} 
                      <a href="$entry.location.institute.url">
                        {{ $entry.location.institute.name }} 
                      </a>
                      {{ else }}
                      {{ $entry.location.institute.name }} 
                      {{ end }}
                      
                      {{ if $entry.location.lab }}
                      - {{ $entry.location.lab }}
                      {{ end }}
                    </span>

                    {{ if $entry.location.city}}
                    <span class="location">
                      {{ $entry.location.city }}
                      {{ if $entry.location.country -}},
                      {{ $entry.location.country }}
                      {{ end }}
                    </span>
                    {{ end }}
                  </header>
                  <div class="descr">
                    {{ if $entry.descr }}
                    {{ $entry.descr | markdownify }}
                    {{ end }}
                  </div>
                </div>
                {{ end }}
              </section>
              {{ end }}
            </section>
            {{ end }}
          </section>
        </div>
        <div class="column is-4">
          <aside class="section" id="sidebar">
            <div class="side-block section" id="contact">
              <h1 class="subtitle is-4">
                Contact Info
              </h1>
              <ul>
                <li><i class="fa fa-globe"></i>{{ .Site.Data.resume.www }}</li>
                <li><i class="fa fa-envelope"></i>{{ .Site.Data.resume.email }}</li>
                <li><i class="fa fa-phone"></i>{{ .Site.Data.resume.phone }}</li>
                <li><i class="fa fa-github"></i>{{ .Site.Data.resume.github }}</li>
                <li><i class="fa fa-address-card"></i> 
                  <ul id="address-tbl">
                    <li> {{ .Site.Data.resume.address.street }}  </li>
                    <li>{{ .Site.Data.resume.address.city }}</li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="side-block section" id="skills">
              <h1 class="has-text-weight-semibold subtitle is-5">
                Skills
              </h1>
              <ul>
                {{ range $skill := .Site.Data.resume.skills }}
                <li><span class="skill">{{ $skill }}</span></li>
                {{ end }}
              </ul>
              <ul>
              </ul>
            </div>
            <div class="side-block section" id="misc">
              <h1 class="has-text-weight-semibold subtitle is-5">
                Misc
              </h1>
              <ul id="lang">
                {{ range $lang := .Site.Data.resume.languages }}
                <li><span class="language">{{ $lang.name }}</span>
                  <span class="lang-level">({{ $lang.level }})</span>
                </li>
                {{ end }}
              </ul>

              <ul>
                {{ range $el := .Site.Data.resume.misc }}
                <li><span class="language">{{ $el }}</span>
                </li>
                {{ end }}
              
              </ul>
            </div>

          </aside>
        </div>


</div>
</div>
  </body>
</html>
