<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top" >
  {{ template "chrome/head.html" }}
  <body>
    {{ template "chrome/menu.html" }}
    {{ $baseurl := .Site.BaseURL }}

    <section class="section">
      <div class="container">
        <h1 class="title">{{ .Title }}</h1>
        {{ range $courses := (where .Site.RegularPages "Section" "teaching").GroupByDate "2006" }}

        <div class="box">
          <h2 class="subtitle has-text-primary is-4">{{ (index $courses.Pages 0).Date.Year }}</h2>
          <ul>
            {{ range $courses.Pages }}
            <li>            <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}


      </div>
    </section>
    {{ template "chrome/footer.html" }}

  </body>
</html>
